.infection{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_maplayout{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
} 

.regional_patient_status_A .rpsa_map {
  width: 100%;
  padding-bottom: 32px;
  border-top: 4px solid #164068;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city1"] {
  left: 57%;
  top: 30%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city2"] {
  left: 64%;
  top: 61%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city3"] {
  left: 63%;
  top: 46%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city4"] {
  left: 52%;
  top: 30%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city5"] {
  left: 55%;
  top: 58%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city6"] {
  left: 58%;
  top: 42%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city7"] {
  left: 66%;
  top: 55%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city8"] {
  left: 54.5%;
  top: 35%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city9"] {
  left: 57%;
  top: 23%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city10"] {
  left: 61%;
  top: 28%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city11"] {
  left: 60%;
  top: 36%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city12"] {
  left: 54%;
  top: 42%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city13"] {
  left: 56%;
  top: 49%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city14"] {
  left: 52%;
  top: 59%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city15"] {
  left: 62.5%;
  top: 39%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city16"] {
  left: 60%;
  top: 54.5%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city17"] {
  left: 52.5%;
  top: 68%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city="map_city18"] {
  left: 64.5%;
  top: 67.5%;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city^="map_city"] {
  border: 0;
  position: absolute;
  display: block;
  margin: 0;
  padding: 4px 8px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgba(100, 100, 100, 0.2);
  border-radius: 2px;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city^="map_city"] .name {
  display: block;
  font-size: 11px;
  line-height: 15px;
  color: #333;
  font-weight: 700;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city^="map_city"] .num {
  display: block;
  font-family: 'Lato';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  font-weight: bold;
  color: #000;
  margin-top: 2px;
}

.regional_patient_status_A .rpsa_map .rpsam_graph button[data-city^="map_city"] .before {
  display: block;
  font-family: 'Lato';
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0;
  color: #333;
}
