.news{
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.news_box {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  display: inline-block;
  padding: 1.3%;
}

.newsImage1{
  width: 450px;
  height: 250px;
}

.news_hr{
  text-align: center;
}

@media(max-width : 480px){
  .news_box{
    font-size: 2px;
    margin-left: 5%;
    margin-top: 2%;
  }
  .newsImage1{
    width: 35%;
    height: 50%;
  }
}
