.notice{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice_table{
  height: 60vh;
  width: 50%;
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
}

.notice_table thead th {
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #369;
  border-bottom: 3px solid #036;
}

.notice_table tbody th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}

.notice_table td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
}